/* styles.css */
body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}

.container {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #f2f2f2;
}

td[contenteditable='true'] {
	background-color: #f9f9f9;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

button {
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #0056b3;
}

#preset-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.preset-item {
	padding: 10px;
	margin: 5px 0;
	background-color: #e0e0e0;
	cursor: pointer;
}

.preset-item:hover {
	background-color: #d0d0d0;
}

.preset-item.selected {
	background-color: #b0b0b0;
}

#selected-preset {
	margin-top: 20px;
	font-weight: bold;
}

.spinner {
	animation: spin 1s linear infinite;
	display: inline-block;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#preset-list-plan {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.preset-item-plan {
	padding: 10px;
	margin: 5px 0;
	background-color: #e0e0e0;
	cursor: pointer;
}

.preset-item-plan:hover {
	background-color: #d0d0d0;
}

.preset-item-plan.selected {
	background-color: #b0b0b0;
}
.preset-item-plan.active {
	background-color: lightblue;
}
.preset-item-plan.active:hover {
	background-color: #7fcde7;
}

.preset-item-plan.active.selected {
	background-color: #54c3e8;
}

#choose-button {
	padding: 10px 20px;
	cursor: pointer;
}

#selected-preset-plan {
	margin-top: 20px;
	font-weight: bold;
}

td.errorClass {
	background-color: lightcoral;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	z-index: 20;
}
.modal input {
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.modal-buttons {
	display: flex;
	justify-content: flex-end;
}
.modal-buttons button {
	margin: 5px;
	padding: 10px 15px;
	font-size: 14px;
	cursor: pointer;
}
.modal-buttons button:hover {
	background-color: #f0f0f0;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

#addButton {
	margin: 20px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}
#addButton:hover {
	background-color: #f0f0f0;
}
